{% extends 'layout.html.twig' %}
{% block head %}
    {{parent()}}
{% endblock %}
{% block body %}
	{{ parent() }}
    <div class="container contentBody">
      <h1>About Fearless Beauty</h1>
        <img src="/img/1200/logo-icon.png" class="pull-right"/>
          <p>Fearless Beauty empowers young women by providing education, mentorship and support in the beauty industry.</p>
          <p>Through the education and guidance of Fearless Beauty, these women will gain the knowledge and skill set to create a sustainable income for themselves, using beauty as a tool to liberate and heal.</p>
          <img src="/img/1200/fb.jpg"/>
      <h1>Founder, Heather Packer</h1>
        <img src="/img/1200/about.heather.jpg" class="pull-left"/>
        <p>I am the founder and first teacher of Fearless Beauty. Over the past couple of years, I found that I was beginning to want something more from my career. I began to ask myself: Will I be content only cutting hair in the salon everyday for the rest of my life?</p>

        <p>Knowing that service is extremely important to me, I started looking into a master's program in social work.  On my last trip to India in March 2014, I brought an application for a master's in social work for NYU. That application was never filled out.</p>

        <p>Within days of arriving in India, on the banks of the Ganges River, after meditation, I asked myself: "What would you do if you weren't afraid?"</p>

        <p>In the answer to that question, Fearless Beauty was born. I realized then that I have a skill: I love teaching - it's useful, universal, valuable ... and there is a community in India, the Khushi Project that is ready to receive the teachings of hairdressing.</p>

      <h1>Press and on the Web</h1>
        {% for press in configs.featured.press %}
          <p><a href="{{press.url}}" taret="_blank">{{press.title}}</a> ({{press.date}})</p>
        {% endfor %}

    </div>
{% endblock %}

