{% extends 'layout.html.twig' %}
{% block head %}
    {{parent()}}
    <script type="text/javascript">
      var youtubeVideos = {{youtubeVideos|json_encode|raw}};
      var embedCodeVideos = {{embedCodeVideos|json_encode|raw}};
      var wordpressPosts = {{wordpressPosts|json_encode|raw}};
    </script>
    <script type="text/javascript" src="js/views/index.js"></script>
{% endblock %}
{% block body %}
	{{ parent() }}
    <div class="container" id="home-header">
        <div id="logo-main"></div>
        <div id="home-info"><button class="btn btn-lg btn-success pull-right donate"><span class="glyphicon glyphicon-gift"></span> Donate</button> <p>Teaching fundamental skills in one of the great crafts empowers people.<br /> When those people are underprivileged women, it has the power to change their lives.</p></div>
    </div>
    <div class="container contentBody">
        <div class="col-xs-6">


            <h1>Featured Videos</h1>
            <section id="embedCodeVideos"></section>
            <h1>Interview Videos</h1>
            <section id="youtubeVideos"></section>
        </div>
        <div class="col-xs-6">

            <h1>From Our Blog</h1>
            <section id="wordpressPosts"></section>
        </div>
    </div>
    <script type="text/template" id="post-youtubeVideos">
      <div class="card youtube">
        <iframe width="<%-width%>" height="<%-height%>" src="https://www.youtube.com/embed/<%-id%>" frameborder="0" allowfullscreen></iframe>
        <blockquote><%-data.snippet.description%></blockquote>
      </div>
    </script>
    <script type="text/template" id="post-wordpressPosts">
      <div class="card wordpress">
        <h2><%=data.title.rendered%></h2>
        <% if (data.featured_image.media_details) { %>
          <% if (data.featured_image.media_details.sizes['post-thumbnail']) { %>
            <img src="<%-data.featured_image.media_details.sizes['post-thumbnail'].source_url%>" />
          <% } else { %>
            <img src="<%-data.featured_image.source_url%>" />
          <% } %>
        <% } %>
        <blockquote><%=data.excerpt.rendered%></blockquote>
        <p><a class="btn btn-default btn-sm pull-right" href="<%-data.link%>" target="_blank"><img src="img/logo-wordpress-24.png" /> View</a></p>
      </div><br />
    </script>
{% endblock %}

